/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #4dc2da;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
.card {

    width: 300px;

}


#new_search {
    display: none;
}

#new_add {
    display: none;
}

#album_collection_header {
    display: none;
}

#album_collection {
    display: none;
}

#info_title {
    
    align-content: center;
}

#note {

    height: 125px;
    width: 600px;
    align-content: center;
}