{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h1>History</h1>

<br>

<table class="table table-striped" id="history_table">
    <thead>
        <tr>
            <th class="text-start">Name</th>
            <th class="text-start">Action</th>
            <th class="text-start">Type</th>
            <th class="text-start">Artist</th>
            <th class="text-end">Added/Removed</th>
        </tr>
    </thead>
    <tbody>
        {% for record in history %}
        
            {% if record.curation_type == 'add' %}

                {% if record.curation_item == 'song' %}

                    <tr>
                        <td class="text-start">{{ record.song_name }}</td>
                        <td class="text-start">Added</td>
                        <td class="text-start">Song</td>
                        <td class="text-start">{{ record.artist_name }}</td>
                        <td class="text-end">{{ record.curation_time }}</td>
                    </tr>

                {% else %}

                <tr>
                    <td class="text-start">{{ record.album_name }}</td>
                    <td class="text-start">Added</td>
                    <td class="text-start">Album</td>
                    <td class="text-start">{{ record.artist_name }}</td>
                    <td class="text-end">{{ record.curation_time }}</td>
                </tr>

                {% endif %}


        {% elif record.curation_type == 'delete' %}

            {% if record.curation_item == 'song' %}

                <tr>
                    <td class="text-start">{{ record.song_name }}</td>
                    <td class="text-start">Removed</td>
                    <td class="text-start">Song</td>
                    <td class="text-start">{{ record.artist_name }}</td>
                    <td class="text-end">{{ record.curation_time }}</td>
                </tr>


            {% else %}

            <tr>
                <td class="text-start">{{ record.album_name }}</td>
                <td class="text-start">Removed</td>
                <td class="text-start">Album</td>
                <td class="text-start">{{ record.artist_name }}</td>
                <td class="text-end">{{ record.curation_time }}</td>
            </tr>

            {% endif %}

        {% endif %}

        {% endfor %}
    </tbody>
</table>

{% endblock %}
